
<div>
  <form>
    <table>
      <tbody>
        <!-- Linha para nome -->
        <tr>
          <td>
            <label for="nome">Nome: </label>        
          </td>
          <td>
            <input type="text" name="nome" [(ngModel)]="cliente.Nome">
          </td>
        </tr>
        <!-- Linha para cpf -->
        <tr>
          <td>
            <label for="cpf">CPF: </label>        
          </td>
          <td>
            <input type="text" name="cpf" [(ngModel)]="cliente.CPF">
          </td>
        </tr>
        <!-- Linha para endereço -->
        <tr>
          <td>
            <label for="cep">CEP: </label>       
          </td>
          <td>
            <input type="text" name="cep" [(ngModel)]="cliente.CEP" (blur)="VerificaCEP()">
          </td>
        </tr>

        <tr>
          <td>
            <label for="endereco">Endereço: </label>        
          </td>
          <td>
            <input type="text" name="endereco" [(ngModel)]="cliente.Endereco">
          </td>
        </tr>

        <tr>
          <td>
            <label for="bairro">Bairro: </label>        
          </td>
          <td>
            <input type="text" name="bairro" [(ngModel)]="cliente.Bairro"> 
          </td>
        </tr>

        <tr>
          <td>
            <label for="cidade">Cidade: </label>        
          </td>
          <td>
            <input type="text" name="cidade" [(ngModel)]="cliente.Cidade"> 
          </td>
        </tr>

        <tr>
          <td>
            <label for="uf">UF: </label>        
          </td>
          <td>
            <input type="text" name="UF" [(ngModel)]="cliente.UF"> 
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!cliente.CPFValido()">
  CPF Inválido
  </div>
  <div>
    <tr>
      <td>
        <input type="button" (click)="salvar()" value="Salvar" [disabled]="!cliente.CPFValido()" />
      </td>
    </tr>
  </div>
  </form>
 </div>


























<router-outlet></router-outlet>
